In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-10-13  144.210007   99.180000
2020-10-14  144.039993  100.250000
2020-10-15  143.830002   98.620003
2020-10-16  144.389999  100.250000
2020-10-19  141.720001   99.980003

In [4]:
sec_returns = np.log(sec_data/ sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-10-13 -0.001940  0.002625
2020-10-14 -0.001180  0.010731
2020-10-15 -0.001459 -0.016393
2020-10-16  0.003886  0.016393
2020-10-19 -0.018665 -0.002697

[3474 rows x 2 columns]

In [6]:
PG_var = sec_returns['PG'].var()
PG_var

0.0001415952353128235

In [7]:
BEI_var = sec_returns['BEI.DE'].var()

In [8]:
BEI_var

0.0001907440119946134

In [9]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.035398808828205876

In [10]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04768600299865335

In [11]:
#Cov method  (pandas.DataFrame.cov) computes pairwise covariance
#of columns.

In [12]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000142  0.000045
BEI.DE  0.000045  0.000191

In [13]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.035399  0.011161
BEI.DE  0.011161  0.047686

In [14]:
#Corr method (pandas_DataFrame.corr) computes pairwise correlation
#of columns

In [15]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.271163
BEI.DE  0.271163  1.000000

In [16]:
#Equal weighting scheme

In [17]:
weights = np.array([0.5, 0.5])

In [18]:
#Portfolio variance

In [19]:
pfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_vol

0.02635185296650309

In [20]:
#Portfolio Volatility

In [21]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.16233253822479057

In [23]:
print (str(round(pfolio_vol, 5) * 100) + '%')

16.233%